/* $Id: local-sample.css,v 1.2 2010/09/17 21:36:06 eternalistic Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

/*
* GENERAL
*/
body {background-color: #fff;}
h2 { font-size: 150%; }
.nomargin { margin: 0; }
td { vertical-align: top; }


.font-size-14 {
    font-size: 80%;
}
/*
* HOMEPAGE
*/
div.jcarousel-skin-tango{
    width: 693px;
}
div.jcarousel-skin-tango ul li{
   display: inline;
}

div#homepage_bottom_blocks {
    float: left;
    width: 693px;
}

div#homepage_bottom_blocks div#whats_new {
    float: left;
    margin: 0 10px 0 0;
    width: 192px;
}

div#homepage_bottom_blocks div#whats_new h3,
div#homepage_bottom_blocks div#top_sellers h3,
div#homepage_bottom_blocks div#access h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 10px;
}
div#homepage_bottom_blocks div#whats_new h3 {
    background-color: #ccc;
    color: #fff;
}

div#homepage_bottom_blocks div#top_sellers {
    float: left;
    margin: 0 10px 0 0;
    width: 205px;
}

div#homepage_bottom_blocks div#top_sellers h3 {
    background-color: #f33;
    color:#000;
}

div#homepage_bottom_blocks div#top_sellers ul {
    margin: 0 0 0 3px;
}

div#homepage_bottom_blocks div#top_sellers ul li {
    border-bottom: 1px solid #eee;
    color: #f33;
    font-size: 13px;
    list-style: none;
}

div#homepage_bottom_blocks div#top_sellers ul li a{
    color: #f33;
}

div#homepage_bottom_blocks div#access {
    float: left;
    width: 276px;
}

div#homepage_bottom_blocks div#access h3 {
    background-color: #eee;
}

.view-homepage-featured-products ul { margin: 0; }
.view-homepage-featured-products ul li {
    float: left;
    margin: 0 5px;
}
.view-homepage-featured-products ul li.views-row-first {
    margin-left: 0;
}
.view-homepage-featured-products ul li.views-row-last {
    margin-right: 0;
}

/*
 * Product list
 */
 div.view-nodequeue .views-widget-sort-by {
    display: none;
 }
 div.product_in_list {
     width: 175px;
}
div.product_in_list div.images{
     text-align: center;
     width: 100%;
     /*min-height: 120px;*/
     height: 120px;
     padding: 5px 0;
}

div.product_in_list div.product-details{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 4px 4px 4px 4px;
    color: #fe0003;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}

.price-group .product-info {
    float: right;
}
div.product_in_list div.product-details .from {
    float: right;
    color: #333;
}

div.product_in_list h2{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 0 20px 0;
}

div.product_in_list h2 a{
    color: #333;
}

div.product_in_list .price-group {
    text-align: center;
    height: 20px;
    margin: 0 auto;
    width:100%;
}

div.product_in_list #content-tabs ul{
    margin: 0;
}

div.product_in_list #content-tabs ul li a{
    background: #ededed;
}

div.product_in_list div.stock-status {
    float: left;
}

.addtocart-box {
    background-image: linear-gradient(bottom, rgb(213,211,214) 16%, rgb(232,232,232) 58%);
background-image: -o-linear-gradient(bottom, rgb(213,211,214) 16%, rgb(232,232,232) 58%);
background-image: -moz-linear-gradient(bottom, rgb(213,211,214) 16%, rgb(232,232,232) 58%);
background-image: -webkit-linear-gradient(bottom, rgb(213,211,214) 16%, rgb(232,232,232) 58%);
background-image: -ms-linear-gradient(bottom, rgb(213,211,214) 16%, rgb(232,232,232) 58%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(213,211,214)),
	color-stop(0.58, rgb(232,232,232))
);
    height: 20px;
    line-height: 20px;
    text-align: center;	
}

div.stock-status p {
    color: #fff;
    line-height: 7px;
    margin: 0;
    padding: 5px;
}


#cart-form-products .desc > a {
    float: left;
    display: block;
    width: 100%;
}
#cart-form-products div.stock-status {
    float: left;
    margin-top: 15px;
}

div.stock-status p.on-stock{
    background: #4ee656;
    border: 2px solid #52d156;
}

div.stock-status p.off-stock{
    background: #e63250;
    border: 2px solid #b80623;
}

div.product_in_list .uc-price-display{
    text-align: left;
    width: auto;
}

.teaser { border: none; }


/*
 * VERTICAL MENU
 */
 div#menu-grey{
     float: left;
     width: 180px;
}
#menu-grey .accordion{font: bold 12px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
#menu-grey .accordion, #menu-grey .accordion li {margin: 0; padding: 0; border: none;}
#menu-grey .accordion a {padding: 5px 5px 5px 10px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}
#menu-grey .accordion a.dcjq-parent {padding: 5px 5px 5px 25px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}

#menu-grey .accordion a.dcjq-parent, #menu-grey .accordion a.dcjq-parent:hover {background: #D7D4D4 url(../images/bg_grey.png) repeat-x 0 -1px; outline: none;}
#menu-grey .accordion a.dcjq-parent.active { outline: none;}
#menu-grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 4px; width: 13px; margin-top: -17px; height: 34px; background: url(../images/arrow_grey_right.png) no-repeat 0 center;}
#menu-grey .accordion a.dcjq-parent.active .dcjq-icon {background: url(../images/arrow_grey_down.png) no-repeat 0 center;}
#menu-grey .accordion a:hover {background: #fff; color: #990000;}
#menu-grey .accordion a.active{
	background: #9c8eaa;
	color: #fff;
	text-shadow: none;
}

#menu-grey .accordion li ul{
    margin: 0 0 0 8px;
}

#menu-grey .accordion li ul li{
    list-style: none;
}

/* CART */
form#uc-coupon-block-form {
    float: left;
    width: 100%;
}

form#uc-coupon-block-form div {
    float: right;
}

form#uc-coupon-block-form div div#edit-code-wrapper {
    float: left;
}

form#uc-coupon-block-form div input#edit-apply {
    margin: 28px 0 0 0;
}

form#uc-cart-view-form div div#cart-form-buttons input#edit-checkout { margin: 0.5em 0 0.5em 0; }

table#outstock_products {
    background-color: red;
}

/*
 * PRODUCT PAGE
 */

#main-infos {
    background: #f5f5f5;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0 0 20px 0;
}

#main-infos div.images {
    float: left;
    width: 45%;
}


#main-infos div.prices {
    padding: 0 2% 0 47%;
}

#main-infos div.prices .stock-status { margin: 20px 0 0 0; }
#main-infos div.prices .14 { font-size: 14px; }
#main-infos div.prices .green-price { color: #7ed352; }
#main-infos div.prices .sell-price { font-size: 20px; margin-bottom: 10px; }
#main-infos div.prices .rrp-price { margin-bottom: 10px; }


.stock-status .on-stock,
.stock-status .off-stock {
    background: url(../images/green-tick-icon.jpg) top left no-repeat;
    width: auto;
    padding: 0 30px 0 25px;
    border: none;
    color: #000;
    height: 16px;
    line-height: 16px;
    position: relative;
    float: left;
}

.stock-status .off-stock {
    background: url(../images/blue-cross-icon.jpg) top left no-repeat;
}

.stock-status .off-stock a,
.stock-status .on-stock a {
    position: absolute;
    right: 0;
    top: 0;
}
#main-infos div.prices .short-description p {
    margin: 0;
}

.node.teaser #price-on-request { float: right; width: auto; }
#price-on-request { float: left; width: 100%; }
#price-on-request p {
    height: 27px;
    width: auto;
    color: #fff;
    background: #349aff;
    padding: 0 5px;
    line-height: 27px;
    float: left;
}
.node.teaser #price-on-request p { float: right; margin: 0; padding: 0 3px; }
.node-teaser .add-to-cart { clear: both; }

#main-infos div.prices input[type="submit"] {
    border: none;
    background: url(../images/green-addtocart-button.jpg) top left no-repeat #7ed352;
    height: 27px;
    width: 133px;
    text-indent: -9999px;
    display: block;
}

#main-infos div.prices input[type="submit"].outstock-submit {
    background: url(../images/blue-addtocart-button.png) top left no-repeat #7ed352;
    width: 202px;
}

#main-infos div.prices input#edit-add-to-wishlist-1 {
    background: url(../images/grey-addtowishlist-button.jpg) top left no-repeat #7ed352;
    height: 22px;
    width: 94px;
    margin: 10px 0 0 0;
}

div#product-group div.images {
     width: 290px;
}
div#product-group div.images ul {
    margin: 0;
    width: 290px;
}
div#product-group div.images ul li{
    float: left;
    list-style: none;
    margin: 0 5px 0 0;
}

div#tilers_related_products { 
    float: left; 
    width: 100%;
}

div#tilers_related_products div.node-teaser {
    float: left;
    text-align: center;
    margin: 0 15px 0 0;
}

.instock,
.offstock {
    display: none;
}

.stock-info { display: none; }
.stock-info-inner {
    padding: 20px;
    font-size: 12px;
}

p.click-to-enlarge {
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    clear: both;
    margin: 5px 0 0 0;
    text-align: center;
    width: 250px;
}

#icon-dock {
    background: #e8e8e8;
    height: 50px;
    margin: 0 0 20px 0;
    position: relative;
    text-align: center;
}

#icon-dock div {
    margin: 0 auto;
    width: 210px;
    padding: 5px 0 0 0;
}

#icon-dock a{
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#icon-dock img{
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

#product_description { padding: 0 0 0 10px; }

.hidden-content {
    display: none;
    padding: 20px;
}

#cboxLoadedContent .hidden-content { display: block; }

/*#icon-dock {
    background: #e8e8e8;
    height: 50px;
    position: relative;
}

#icon-dock .mac-dock {
    text-align:center;
    position:absolute;
    width:100%;
}*/

/* BACK ORDERS */
ul.back_order_product_list{
    margin-bottom : 0;
}

ul.back_order_product_list li { list-style: none; }

ul.back_order_product_list li.x{
    color: red;
    list-style-type: square;
}

ul.back_order_product_list li.x a {color: red; }

ul.back_order_product_list li.v{
    color: green;
    list-style-type: disc;
}

ul.back_order_product_list li.v a { color: green; }




/** PANES **/
/* root element for tabs  */
.product-tabs {
	list-style:none;
	margin:0 !important;
	padding:0;
	height:30px;
	border-bottom:1px solid #c3c3c3;
}

/* single tab */
.product-tabs li {
	float:left;
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
	border-right: 1px solid #fff;
}

/* link inside the tab. uses a background image */
.product-tabs a {
	background: #e3e3e3;
	font-size:11px;
	display:block;
	height: 30px;
	line-height:30px;
	width: auto;
	text-align:center;
	text-decoration:none;
	color:#323232;
	padding:0px 23px;
	margin:0px;
	position:relative;
	top:1px;
}

.product-tabs a:active { outline:none; }

/* when mouse enters the tab move the background image */
.product-tabs a:hover {
	background: #cecece;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.product-tabs .current, .product-tabs .current:hover, .product-tabs li.current a {
	background: #cecece;
	cursor:default !important;
	color:#000 !important;
}


/* initially all panes are hidden */
.product-panes {
    border: 0;
    margin: 0 0 10px 0;
}
.product-panes .pane { display:none;	}

.product-panes .pane_description,
.product-panes .pane_details,
.product-panes .pane_videos{
    padding: 5px;
}

.product-panes .pane_description table {
    width: 100%;
    clear: both;
}
.product-panes .pane_description p {
    clear: both;
}

/*
* BLOG
*/
div.blog-article-container {
    background: #F9F9F9;
    padding: 15px;
}

div.blog-article-container p.submition-info{
    margin: 0 0 4px 0;
}

div.blog-article-container p.submition-info span{
    margin: 0 25px 0 0;
}

div.blog-article-container h2{
    color: #000;
    font-size: 25px;
}


/*
 * BRANDS
 */
div#brands_page {
    float: left;
    width: 100%;
}

div#brands_page div.brands-blocs{
     float: left;
     width: 32%;
}

div#brands_page div.brands-blocs ul{
    color: #494949;
    list-style: none;
    margin: 0 0 20px;
}

div#brands_page div.brands-blocs ul li{
    list-style: none;
}

div#brands_page div.brands-blocs ul li a{
    color: #f33;
}

/*
 * Node type special
 */
 div.node-type-special div.special_image,
 div.node-type-special div.special_description {
     float: left;
}

div.node-type-special div.special_description{
    padding: 0 20px;
}

div.node-type-special div.special_description p{
    margin: 0;
}

/* hierarchical selects */
div.hierarchical-select select.form-select {
	height: 50px;
}

/* Sidebar first */
#sidebar-first table.cart-block-summary ul.links li { float: left; }


div#edit-field-variation-oid-0-value-wrapper { display: none; }


/* Login Page */
#signin_page #signin_page_left,
#signin_page #signin_page_right {
    width: 48%;
    float: left;
}

#signin_page #signin_page_left {
    padding-right: 2%;
}
#signin_page #signin_page_right {
    padding-left: 2%;
}

#signin_page .signin-inner-content {
    border 1px solid #ccc;
}

#user-login-form input[type="text"],
#user-login-form input[type="password"]{
    width: 95%;
    height: 20px;
}

/* Cart Block */
#block-block-3 {
    border-bottom: 1px solid #ccc;
    margin: 0 10px 20px;
    width: 760px;
    text-align: right;
}
#block-block-3 p { margin: 0; }
#block-block-3 .inner { margin: 0; }
/*#view-cart {
    background: url(../images/shopg-cart.jpg) top left no-repeat;
    padding: 0 5px 0 27px;
}*/

/* SEARCH FORM */
#search-block-form label {
    display: none;
}
#search-block-form input {
    width: 200px;
    height: 24px;
    line-height: 24px;
    border: 0;
    margin: 0;
    padding: 0;
}
#search-block-form input[type="submit"] {
    width: 70px;
    font-size: 12px;
}

#block-search-0 {
    width: auto;
    position: absolute;
    bottom: 31px;
    right: 150px;
}

#block-search-0 input {
    height: 30px;
}

#edit-search-block-form-1-wrapper {
    float: left;
    height: 30px;
    margin: 0;
}

/** HEADER PHONE NUMBER **/
#block-block-8 {
    position: absolute;
    bottom: 30px;
    right: 0;
    text-align: right;
    width: auto;
}
#block-block-8 .inner {
    margin: 0;
}


/** RELATED PRODUCTS VIEW **/
.view-id-related_products ul,
.view-id-related_products ul li,
#autocomplete ul,
#autocomplete ul li{
    display: block;
    float: left;
    list-style: none;
    font-size: 0;
    width: 100%
}

.view-id-related_products ul li { width: 100%; }

.view-id-related_products ul li .views-field-field-product-images-fid,
span.views-field-field-product-images-fid {
    display: block;
    float: left;
    width: 15%;
    font-size: 12px;
}
.view-id-related_products ul li .views-field-title,
span.views-field-title{
    display: block;
    float: left;
    width: 85%;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
}

/** MENU EDIT FORM **/
#menu-edit-item #edit-menu-description-wrapper,
#menu-edit-item .textarea-identifier {
    /*display: none;*/
}

/** SECONDARY MENU **/
#secondary-menu-inner ul li {
    height: 25px;
    line-height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #444;
}

#secondary-menu-inner ul li.last { border: none; }

#secondary-menu-inner ul li a {
    background: none;
    border: 0;
}

#phone-block {
    float: right;
    line-height: 30px;
    color: #b0b0b0;
    font-weight: bold;
    font-size: 14px;
}

/** MEGAMENU **/
#mega-menu-1 { background: none; }

#mega-menu-1 li {
    list-style: none;
}

#mega-menu-1 li ul { display: none; }

/** MENU BLOCK **/
#block-menu_block-2 h2 {
    margin: 0 0 10px 0;
    padding: 0;
}
.menu-block-2 ul.menu {
    background: #f5f5f5;
    margin: 0;
}
.menu-block-2 ul.menu li {
    background: url(../images/grey-menu-button.jpg) top left repeat-x #505050;
    line-height: 28px;
    list-style: none;
    border-bottom: 1px solid #424242;
    padding: 0 10px 0 15px;
}

.menu-block-2 ul.menu li.expanded { padding: 0; }

.menu-block-2 ul.menu li a {
    color: #fff;
    display: block;
}

.menu-block-2 ul.menu li.expanded a { padding: 0 5px 0 15px; }

.menu-block-2 ul.menu li ul.menu {
    display: none;
}
.menu-block-2 ul.menu li.active-trail ul.menu {
    display: block;
}

.menu-block-2 ul.menu li ul.menu li {    
    background: #e3e3e3;
    height: auto;
    list-style: none;
    color: #000;
    line-height: 25px;
    border: none;
    padding: 0;
}
.menu-block-2 ul.menu li ul.menu li a {
    color: #000;
    padding: 0;
    border-bottom: 1px solid #bbb;
    display: block;
    padding: 0 0 0 15px;
}

.menu-block-2 ul.menu li ul.menu li.active-trail a,
.menu-block-2 ul.menu li ul.menu li a:hover {
    border-left: 5px solid #fe0003;
    padding: 0 0 0 10px;
}

.menu-block-2 ul.menu li ul.menu li ul.menu li{

}
.menu-block-2 ul.menu li ul.menu li ul.menu li{    
    background: none;
    list-style: none;
    list-style-position: outside;
    padding: 0;
}

.menu-block-2 ul.menu li ul.menu li a.active{
    color: #fe0003;
}

.menu-block-2 ul.menu li ul.menu li ul.menu li a{
    background: #f5f5f5;
    display: block;
    padding: 0 0 0 30px;
    border-bottom: 1px solid #ccc;
    border-left: none;
}
.menu-block-2 ul.menu li ul.menu li ul.menu li a:hover{
    border-left: none;
    padding: 0 0 0 30px;
}


.menu-block-2 ul.menu li ul.menu li ul.menu li ul li a{
    padding: 0 0 0 40px;
}



.cke_show_borders table {
    width: 100%;
    clear: both;
}
.cke_show_borders p {
    clear: both;
}

#featured-carousel {
    margin: 20px 0;
    float: left;
}
#featured-carousel li {
    width: 376px;
    list-style: none;
    float: left;
}
#featured-carousel li.odd {
    margin-right: 4px;
}
#featured-carousel li.even {
    margin-left: 4px;
}

#featured-carousel .featured-product {
    float: left;
    height: 160px;
    padding: 20px 0 0 0;
    border: 2px dashed #7ed352;
}

#featured-carousel .image {
    float: left;
    width: 200px;
    height: 160px;
    text-align: center;
}

#featured-carousel .info {
    float: left;
    width: 150px;
    padding: 0 10px;
    height: 160px;
    text-align: center;
}

#featured-carousel .info h2 {
    font-size: 13px;
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
}

#featured-carousel .info .uc-price-product {
    color: red;
    font-size: 22px;
    float: none;
}

.teaser-buttons {
    clear: both;
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
    text-align: center;
}

.teaser-buttons .teaser-full-details,
.teaser-buttons .teaser-add-to-cart {
    padding: 3px;
    background: #7ED352;
    color: #fff;
}

.teaser-buttons .teaser-full-details { margin-right: 1px; }

.view-nodequeue { clear: both; }


/** CUSTOM MEGA MENU **/
#custom-mega{
    width: 100%;
    height: 43px;
    position: relative;
    background: #AAA;
    margin: 0;
}
#custom-mega li {
    float: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    list-style: none;
    width: 14%;
}

#custom-mega li a {
    float: left;
    display: block;
    color: white;
    padding: 12px 0;
    background: #AAA;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

#custom-mega li a:hover,
#custom-mega li a.active {
    background: #ccc;
    color: #000;
}

#custom-mega .megawrapper {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 200;
    border: 1px solid #ccc;
    background: #efefef;
    width: 100%;
}

#custom-mega a.nofollow {
    cursor: default;
}

#custom-mega .megawrapper .megawrapper-wrapper { padding: 15px; }

#custom-mega .megawrapper .subwrapper {
    float: left;
    width: 165px;
    margin: 0 0 20px 25px;
}

#custom-mega .megawrapper .subwrapper.first {
    margin-left: 0;
}

#custom-mega .megawrapper .subwrapper h2 {
    margin: 0 0 8px 0;
    padding: 0;
}

#custom-mega .megawrapper .subwrapper a {
    background: none;
    padding: 0;
    color: #000;
    font-weight: normal;
    font-size: 11px;
}

#custom-mega .megawrapper .subwrapper h2 a {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    display: block;
    padding: 10px;
    width: 100%;
}

#custom-mega .megawrapper .subwrapper h2 a:hover {
    background: #ccc;
    color: #ff0000;
}

#custom-mega .megawrapper .subwrapper ul {
    padding: 0 10px;
}

#custom-mega .megawrapper .subwrapper ul li {
    width: 100%;
}

#custom-mega .megawrapper .subwrapper ul li a:hover {
    color: #af0000;
}

.menu-breaker {
    width: 100%;
    clear: both;
}

/** HOMEPAGE CARUOSEL **/
#block-tilers_pages-1 .inner {
    margin: 0;
}

.jcarousel-control {
    text-align: center
}
.jcarousel-control ul li{
    display: inline;
    list-style: none;
}

.jcarousel-control ul li a{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 0px;
    border-radius: 4px;
    background: #555;
    margin: 0 3px;
}

.jcarousel-control ul li a.active
{
    background: #ccc;
}

/** FOOTER **/
#footer-wrapper {
    background: #e8e8e8;
    color: #252525;
    border: 0;
    font-size: 12px;
}


#footer-wrapper p,
#footer-wrapper a,
#footer-wrapper ul li,
#footer-wrapper ul li  a{ 
    font-size: 12px;
    color: #636363;
}

#footer-wrapper ul {
    margin: 0;
    padding: 0;
}

#footer-wrapper ul li {
    list-style: none;
}

#footer-wrapper .block{
    float: left;
}
#footer-wrapper h2.block-title{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 0 0 5px 0;
}

#footer-wrapper #block-block-10,
#footer-wrapper #block-block-11,
#footer-wrapper #block-block-12 {
    width: 20%;
    margin-right: 2%;
}
#footer-wrapper #block-block-13 {
    width: 34%;
}

.file-download {
    background: url(../images/pdf.jpg) top left no-repeat;
    display: block;
    height: 30px;
    line-height: 40px;
    padding-left: 35px;
}

/** CART BLOCK **/
#cart-block {
    right: 0;
    width: 190px;
    position: absolute;
    z-index: 500;
    background: #fff;
}

#cart-block-inner { 
    margin: 0;
}

#block-uc_cart-0 {
    width: 190px;
    margin: 0;
    padding: 0;
}

#block-uc_cart-0 .inner {
    margin: 0;
}

#cart-block-wrapper ul {
    margin: 0;
}

#cart-block-wrapper #cart-summary-content {
    list-style: none;
}

    #cart-block-wrapper #cart-summary-content ul {
        max-height: 264px;
        overflow: auto;
    }

#cart-block-wrapper #cart-block-title,
#cart-block-wrapper #cart-block-title a.title {
    display: block;
    padding: 0;
    color: #fff;
}

#cart-block-wrapper #cart-block-title a.title { 
    padding: 4px 10px;
    text-align: center;
    border: 2px solid #aa0000;
    font-weight: bold;
    letter-spacing: 1px;
}
#cart-block-wrapper #cart-block-title a.title:hover { 
    text-decoration: none;
}
#cart-block-wrapper #subcontent {
    display: none;
    border: 3px solid #555;
    float: left;
    background: #fff;
}
#cart-block-wrapper #subcontent li {
    float: left;
    width: 100%;
}

#cart-block-wrapper #subcontent .cart-preview-message {
    color: #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}
#cart-block-wrapper #subcontent .cart-preview-message p{ 
    margin: 0;
    padding: 0 10px;
    text-align: center;
    font-size: 11px;
}


#cart-block-wrapper #subcontent .cart-item {
    color: #555;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}
#cart-block-wrapper #subcontent .cart-item .cart-item-image{
    float: left;
    width: 27%;
    padding: 0 0 0 3%;
}
#cart-block-wrapper #subcontent .cart-item .cart-item-title {
    float: left;
    width: 70%;
}
#cart-block-wrapper #subcontent .cart-item .cart-item-title p.title{
    float: left;
    margin: 0;
    width: 80%;
    font-size: 11px;
}
#cart-block-wrapper #subcontent .cart-item .cart-item-title p.qty{
    float: left;
    margin: 0;
    text-align: right;
    font-size: 11px;
}

#cart-block-wrapper #cart-block-total {
    background: #f5f5f5;
    color: #555;
    padding: 4px 0;
    float: left;
    border-bottom: 1px solid #ccc;
}

#cart-block-wrapper #cart-block-total .cart-block-total-desc{
    float: left;
    width: 50%;
}
#cart-block-wrapper #cart-block-total .cart-block-total-desc p{
    padding: 0 10px;
    margin: 0;
}

#cart-block-wrapper #cart-block-total .cart-block-total-desc span{
    font-size: 10px;
}
#cart-block-wrapper #cart-block-total .cart-block-total-total{
    float: left;
    width: 50%;
    text-align: right;
}
#cart-block-wrapper #cart-block-total .cart-block-total-total p{
    padding: 0 10px;
    margin: 0;
}

#cart-block-wrapper #gotocart {
    background: #fff;
    padding: 10px 0;
    text-align: center;
}

#cart-block-wrapper #gotocart a {
    display: block;
    width: 65px;
    margin: 0 auto;
    padding: 10px 15px;
    color: #fff;
}

#cart-block-wrapper #gotocart span {
    color: #555;
    font-size: 10px;
}

/* PAYMENT FORM */
#payment_form label {
    width: 100px;
    display: inline-block;
}


/* CALCULATOR */
#grout-calculator-wrapper .calculator-left {
    width: 50%;
    float: left;
}

#grout-calculator-wrapper .calculator-right {
    width: 50%;
    float: left;
    padding: 20px 0 0 0;
}

#grout-calculator-wrapper .calculator-right .density-info {
    padding: 10px;
    border: 1px solid #ccc;
    width: 91%;
}

#grout-calculator-wrapper .calculator-right .density-info ul {
    margin: 0;
}

#grout-calculator-wrapper .calculator-right .density-info ul li {
    list-style: none;
}

#grout-calculator-wrapper .calculator-left .form-item{
    width: 100%;
    float: left;
    margin: 6px 0;
}

#grout-calculator-wrapper .calculator-left .form-item input{
    width: 90px;
}

#grout-calculator-wrapper .calculator-left .form-item label{
    float: left;
    width: 200px;
}

#edit-grout-total {
    background: #fdfcc7;
    font-size: 20px;
    border: 1px solid #ccc;
}


/* button
---------------------------------------------- */
.css3button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.css3button:hover {
    text-decoration: none;
}
.css3button:active {
    position: relative;
    top: 1px;
}
.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.css3medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.css3small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
/* color styles
---------------------------------------------- */
/* black */
.css3black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top, #666, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.css3black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top, #444, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.css3black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top, #000, #444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* gray */
.css3gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.css3gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.css3gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* white */
.css3white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.css3white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.css3white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* orange */
.css3orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.css3orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.css3red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.css3red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.css3red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* blue */
.css3blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.css3blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.css3blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* rosy */
.css3rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.css3rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top, #cf5d6a, #a53845);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.css3rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top, #bf404f, #f16c7c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
/* green */
.css3green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.css3green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.css3green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* pink */
.css3pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.css3pink:hover {
    background: #d57ea5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
    background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.css3pink:active {
    color: #f3c3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
    background: -moz-linear-gradient(top, #f171ab, #feb1d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
} 